header{
  width: 100%;
  height: 40px;
  position: fixed;
  align-items: center;
  display: flex;
}

.title{
  margin-left: 20px;
  font-size: 30px;
  color: rgb(14, 14, 134);
}

.navi-parent{
  width: 100%;
}

.navi-child{
  list-style: none;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  color: rgb(14, 14, 134);
}

.navi-child li{
  margin: 20px;
  font-weight: bold;
  display: inline-block;
}

.smile{
  margin-top: 400px;
  margin-left: 0px;
  margin-bottom: 0px;
  font-size: 60px;
  line-height: 0px;
  display: inline-block;
}

.box{
  width: 70%;
  height: 200px;
  background-color:rgb(14, 14, 134);
  margin-top: 0px;
}

.firstview-img{
  width: 45%;
  margin-top: -500px;
  margin-left: 850px;
  display: block;
}